

.main-text
{
    position: absolute;
    bottom: 25%;
    width: 96.66666666666666%;
    color: white;

}
.main-text h2
{   font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;

}
.main-text h1
{   font-family: "Playfair Display", Times, serif;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 300;

}
/*full width container*/
@media
{
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    padding-right: 15px;
}


@media (min-width: 1200px)
.container {
    width: 1170px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}


.top {
    display: block;
    padding: .8em 0;
    height: 20px;
    width: 100%;
}
.top-menu {
    padding: 40px 30px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    height: 80px;
    width: 100%;

}

.navbar {
    background: #FFFFFF;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
}


.top p {
    color: gray;
    margin: 6px -4px;
}

.row {
     margin-top: -12px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: -3px;
    }


/* projects */
.row.projects {
    margin-top: 0px !important;
    padding-top: 0px;
    }


.row.projects p{
    width: 90%;
    margin: 0px auto;
    }
.row.projects h2{
    color:#000;
    margin-bottom: 10px;
    }



a {
    color: #4586FF;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.colorlib-nav ul li.active > a {
    color: #000 !important;
    position: relative;
    display:inline-block
}
.colorlib-nav ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    display:inline-block
}

.colorlib-nav ul li a {
    display:inline-block
    position: relative;
    font-size: 15px;
    padding: 30px 12px;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
}
.colorlib-nav ul {
    padding: 0px;
    margin: -30px 100px 0px 0px;
    /* margin-bottom: 14px; */
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;

}


/*
 * ==== Losange
 */
.losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}




.description h3 {
    margin: 0 0 2.4em;
    font-weight: normal;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px gray;
    color: #000;
    text-decoration: none;

}
.description h1 {
    margin: 33px 0 0em;
    font-weight: Bold;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    line-height: 40px;
`   padding: 5px;
    color: #000;
    font-size: 24px;
}


.description {
    background: #fafafa;
    display:inline-block;
    padding-top: 30px;

}

.description .col {

    display: inline-block;
    width: 30%;
    vertical-align: top;
}



.gallerie {
    padding-top: 130px;
    margin-right: 150px;
    margin-left: 150px;

}


@media (max-width: 992px) {
   #gallery {
    padding-top: 130px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 15px !important;
    margin-left: 0px !important;
  }
}


.img-thumbnail {
    margin: 9px;
    position: center;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0px 0px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.card {
    flex: 1 0 165px;
    box-sizing: border-box;
    margin: 1rem .25em;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 300px;
    width: 100%;
    display: block;


}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-family: "Poppins", Arial, sans-serif;

}

.card p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-title {
    color: black;
    margin-top: 0;
    margin-bottom: 1rem;
}


.card a {
    color: white;
    text-decoration: none;
}

.btncolor {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 14px 19px !important;
    border: none;
    background: #4586FF;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 0;
    transition: 0.5s;
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
}
.btncolor:hover {
    background: #484848!important;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

 }




//go to top
.about {
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 1230px;
    max-width: 100%;
}
.about p{
    color: black;
    margin: 15px auto;
}
.text_static {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
    margin-left: auto;

}



/*The media queries are where the number of cards is determined:*/



@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }


}

@media screen and (min-width: 50em) {

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}



/*The media queries are where the number of cards is determined:*/

@media screen and (max-width: 3700px)
.about {
    width: 1230px;
}

@media screen and (max-width: 70000px)
.about {
    width: 1630px;
}
@media (min-width: 1200px)
.about {
    width: 1170px;
}
@media (min-width: 992px)
.about {
    width: 970px;
}
@media (min-width: 768px)
.about {
    width: 750px;
}

/*The media queries are where the number of cards is determined:*/
.carousel .item {
    width: 100%;
    height: 610px;
/*slider height*/
}
.carousel .item img {
    width: 100%;
    height: 610px;

    /*img width*/
}



@media screen and (max-width: 40em) {
.carousel .item img {

    height: 250px; !important

}
.carousel .item {
    height: 250px; !important
}
}
@media screen and (max-width: 50em) {
.carousel .item img {
    height: 250px;
}
.carousel .item {
    height: 250px; !important
}
}
