#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-height: 600px;
    max-width: 1200px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



/* menu sidebar */

*{
  margin: 0;
	padding: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
  z-index: 23;
}

html{
	font-size: 12px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container{
	width: 80%;
	margin: 0 auto;
	background: #ffffff;
}
header{
	width: 100%;
	height: auto;
    background: #ffffff;
    }



.header-left h1 {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-weight: bold;
    line-height: 40px;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom:0px;
    text-decoration: none;
}

.header-left,
.header-right{
	position: relative;
	color: black;
	float: left;
    padding-top: 46px;
    }

.header-left{
	width: 30%;
}
.header-right label{
	position: absolute;
	top: -3.7em;
	right: 0;
	cursor: pointer;
}
.header-right span{
	position: relative;
	width: 2em;
	height: 2em;
	background: rgba(255,255,255,.3);
	-webkit-transition: all .3s ease;
}
.header-right span:hover{
	background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
	content: '';
	position: absolute;
	width: 2em;
	height: .5em;
	top: 4px;
	left: 0;
	background: black;
}
.header-right span:after{
	top: 14px;
}
.header-right{
	width: 70%;
	text-align: right;
}
#open{
	display: none;
}
h1{
	font-weight: 300;
	line-height: 40px;
}
a{
	text-decoration: none;
	color: black;
}

/*/////////////// navbar */

nav>a{
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	/*padding: 0 2em;*/
	padding-left: 32px;
	padding-right: 32px;
	-webkit-transition: all .3s ease;
}
nav>a:hover{
	background: rgba(255,255,255,.9);
	color: black;
	text-decoration: none;
	padding-left: 42px;
	padding-right: 42px;
}
.hidden-desktop{
	display: none;
}


.section-left,
.section-right{
	float: left;
}
.section-left{
	width: 70%;
	padding: 3em 0;
}
.section-right{
	width: 30%;
}
.section-title,
.section-tagline{
	color: white;
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-transition: all .4s ease;
}
.section-title{
	font-size: 4em;
	margin-bottom: .3em;
	text-shadow: 0 3px 0px black,
				 0 4px 0px rgba(150,150,150,.5);
}
.section-tagline{
	font-size: 1em;
}
.learn-more{
	display: table;
	margin: 3em auto 0;
	padding: 1em 6em;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
	background: #EAAF00;
	background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
	font-size: 1.2em;
}
.learn-more:hover{
	background: #EAAF00;
}
.learn-more:active{
	box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.box{
		width: 49%;
		margin-bottom: 5%;
	}

	ul li:nth-child(3) .box{
		clear: both;
	}

	ul li:nth-child(2n) .box{
		margin-right: 0;
		clear: right;
	}
}

/* Small monitor */
@media (max-width: 979px){
	nav>a{
		padding: 0 1.5em;
	}
	nav>a:hover{
	    padding: 0 2em;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
	}
	.section-right{
		padding: 0 0 2em;
	}
	.section-title{
		font-size: 4em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container{
		width: 95%;
	}
	nav>a{
		padding: 0 2em;
	}
	nav>a:hover{
	    padding: 0 2.5em;
	}
	h1{
		padding: 0.5em 0;
	}
	.header-right,
	.header-left{
		width: 100%;
		text-align: center;
	}
	.header-right{
		    padding-top: 0px;
    }
    .header-left{
            padding-top: 27px;
    }
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 2em 0;
	}
	.section-right{
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 3em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}


}


.caroussel{
  padding: 80px 0 0;
  margin-top : 9.48px;
}
@media (min-width: 768px) and (max-width: 814px) {
.caroussel {
	    margin-top: 56.48px;

	}

}
@media (min-width: 550px) and (max-width: 767px) {
.caroussel {
	    margin-top: 72.84px;

	}

}
@media (min-width: 481px) and (max-width: 549px) {
.caroussel {
	    margin-top: 112.6px;

	}

}


/* Landscape phones and down */
@media (max-width: 480px) {
    .caroussel {
	    margin-top: 33.24px;

	}

	nav{
		height: 0;
		overflow: hidden;
		-webkit-transition: all .3s ease;
	}
	input[type="checkbox"]:checked + nav{
		height: 205px;
	}
	nav>a{
		padding: 0 1em;
		display: block;
		border-bottom: solid 1px rgba(255,255,255,.1);
	}
	nav>a:hover{
	    padding-top: 10px;

	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.header-right{
		    padding-top: 0px;
    }
    .header-left{
            padding-top: 34px;
    }
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 1em 0;
	}
	.section-right{
		text-align: center;
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 2.4em;
		margin-bottom: 0;
	}
	.section-tagline{
		font-size: 1em;
	}
	.learn-more{
		display: table;
		margin: 0 auto;
	}
	.hidden-desktop{
		display: block;
	}
}



/* blog */

#blog{
  margin-left: 150px;
    margin-right: 150px;
    padding: 80px 0 0;
    margin-top: 56.48px;
    min-height: 500px;
    text-align: justify;

}
#blog a{
    margin-top: 0px;
    color: darkseagreen;
}
#blog h1{
      color: darkseagreen;
}

.imgpost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50vw;
        max-height: 50vh;
}
@media (min-width: 768px) and (max-width: 814px) {
#blog {
	    margin-top: 56.48px;
	    margin-left: 15px;
        margin-right: 15px;

	}

}
@media (min-width: 550px) and (max-width: 767px) {
#blog {
	    margin-top: 96.84px;
	    margin-left: 15px;
        margin-right: 15px;

	}

}
@media (min-width: 481px) and (max-width: 549px) {
#blog {
	    margin-top: 112.6px;
	    margin-left: 15px;
        margin-right: 15px;

	}

}


/* Landscape phones and down */
@media (max-width: 480px) {
    #blog {
	    margin-top: 33.24px;
	    margin-left: 15px;
        margin-right: 15px;

	}
	}


.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  width: 100%;
  height: 100%;
}